<h3>{{ title }}</h3>

<input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm"/>

<!--- this is a list of the races for all the diferrent types of races it is then called in the home component and routes to the respective type of races-->
<ul class="list-group">
    <li class="list-group-item" *ngFor="let pastrace of pastraces | pastRaceFilter:searchTerm"><a [routerLink]="['/past-race', pastrace._id]">{{pastrace.name}}</a></li>
    <li class="list-group-item" *ngFor="let race of races | raceFilter:searchTerm"><a [routerLink]="['/ongoing-race', race._id]">{{race.name}}</a></li>
    <li class="list-group-item" *ngFor="let futurerace of futureraces | futureRaceFilter:searchTerm"><a [routerLink]="['/future-race', futurerace._id]">{{futurerace.name}}</a></li>
</ul>
